<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.1.dtd">
<suite name="PhoneBookTests">
    <test name="PhoneBookRestAssure">

        <classes>
            <class name="restassured.LoginTest">
                <methods>
                    <include name="loginPositive"/>
                    <include name="loginNegative"/>
                    <include name="loginPositiveSteps"/>
                </methods>
            </class>
            <class name="restassured.RegistrationTest">
                <methods>
                    <include name="registrationPositive"/>
                    <include name="registrationNegativeTests"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>